#content-tools {
    position: absolute;
    bottom: 3px;
    left: 5px;
    width: 100%;
}

#text-length-counter {
    position: absolute;
    bottom: 3%;
    right: 2%;
}

#progress-circle {
    text-align: center;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

#progress-circle::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 50%;
}

#current-text-length {
    position: relative;
}